html,body {
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

*{
  outline: none;
}

html{
  overflow-y: hidden;
} 

body{
  scroll-behavior: auto;
  // scroll-behavior: smooth;
  overflow-y:scroll;
  background: #171717;
  color: #ccc;
  font-family: 'Quicksand', sans-serif;
  user-select: none;  
  &,
  * {
      cursor: none !important;        
  }
}

.router-wrapper{
  height: 100%;
  max-height: 100%;
  // overflow-y: visible;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
