.scroll-top-button{
    position: fixed;
    z-index: 2;
    bottom: 0;
    left : 0;
    margin: 10px;
    height: 60px;
    width: 60px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 50px;
    transform: translateX(-70px) rotate(180deg);
    transition: all 0.5s;
    text-decoration: none;
  
    i{
      -webkit-text-stroke: 6px #000;
    }
  }