.footer{
  height: 40vh;
  font-size: 20px;
  // background-color: #171717;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #777;

  .sub-footer{
    align-items: center;
    width:40%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    .footer-header{
      font-family: Futura;
      font-size: 28px;
    }

    span{
      font-weight: 900;
      color: #aaa;
    }

    .social-icons{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 2vh 0;

      a{
        position: relative;
        text-decoration: none;
        color: #aaa;
        font-size: 20px;
        height: 40px;
        width: 40px;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #222;
        overflow: hidden;
        z-index: 1;

        &.if:after{
          background-color: rgba(0, 95, 184, 0.61);
        }

        &.ig:after{
          background-color: #333;
        }

        &.il:after{
          background-color: rgba(0, 132, 255, 0.61);
        }

        &.it:after{
          background-color: #00aeed8a;
        }

        &:after{
          content: "";
          position: absolute;
          top:0;
          left:0;
          width: 100%;
          height: 100%;
          transform-origin: bottom left;
          transform: scaleY(0);
          z-index: -1;
          transition: all 0.3s;
        }

        &:hover{
          &:after{
            transform: scaleY(1);
          }
        }
      }
    }
  }
}