$red : #ff0d2d;

.heading-block{
  position: relative;
  display: inline-block;
  font-family: Sharp_Sans;
  padding: 20px;
  margin-top:7vh;
  margin-bottom:50px;
  box-sizing: border-box;
}

.heading-bg{
  position:absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  background: #1c1c1c;
  box-shadow: 0 0 10px #000;
}

.heading{
  color: #ddd;
  font-size:72px;
  position: relative;
  transform: translate(0%,0%);
  font-family: Sharp_Sans;
}

.desc{
  display: inline-block;
  padding: 5px 10px;
  background: $red;
  box-shadow: 0 0 10px #000;
  position: absolute;
  color: #ddd;
  font-size: 28px;
}

@media only screen and (max-width: 1096px) {
  .heading-block{
    padding:16px;
    margin-bottom:40px;
  }

  .heading{
    font-size: 60px;
  }

  .desc{
    padding: 3px 6px;
    font-size: 24px;
  }
  
}

