$red : #ff0d2d;

.heading-block{
  position: relative;
  display: inline-block;
  font-family: Futura;
  padding: 10px 20px;
  // margin-top:10vh;
  margin-bottom:80px;
  box-sizing: border-box;
}

.heading-bg{
  position:absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  background: #1c1c1c;
  box-shadow: 0 0 10px #000;
}

.heading{
  color: #ddd;
  font-size:72px;
  position: relative;
  transform: translate(0%,0%);
  font-family: Futura;
}

.desc{
  display: inline-block;
  padding: 3px 10px;
  margin-top:-5px;
  background: $red;
  box-shadow: 0 0 10px #000;
  position: absolute;
  color: #ddd;
  font-size: 28px;
}

@media only screen and (max-width: 1224px) {
  .heading-block{
    padding:16px;
    margin-bottom:40px;
  }

  .heading{
    font-size: 60px;
  }

  .desc{
    padding: 3px 6px;
    font-size: 24px;
  }
  
}

@media only screen and (max-width: 1224px) {
  .heading-block{
    padding:16px;
    margin-bottom:40px;
  }

  .heading{
    font-size: 60px;
  }

  .desc{
    padding: 3px 6px;
    font-size: 24px;
  }
  
}

@media only screen and (max-width: 479px) {
  .heading-block{
    padding:3vw;
    margin-bottom:5vw;
  }

  .heading-bg{
    box-shadow: 0 0 5px #000;
  }

  .heading{
    font-size: 10vw;
  }

  .desc{
    padding: 2px 4px;
    font-size: 16px;
    box-shadow: 0 0 5px #000;
  }
  
}

