$red : #ff0d2d;
$ease-out : cubic-bezier(0.19, 1, 0.22, 1);

.home{
  // font-family: Futura;
  margin-top:0vh;
  letter-spacing: 0.2em;
}

.intro{
  height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.intro-text{
  position: relative;
  font-family: Futura;
  overflow: hidden;
  // display: inline-block;
  // background: red;
  // width:50%;
  span{
    font-size: 110px;
    letter-spacing: 0.2em;
    position: relative;
    display: inline-block;
    transform: translate(0%,80%);
    animation: intro-text-span 0.6s $ease-out forwards;
  }

  @keyframes intro-text-span {
    to{
      transform: translate(0%,0%);
    }
  }
  div{
    white-space: nowrap;
    display: absolute;
    top:0;
    left:0;
    display: block;
    font-size: 120px;
    letter-spacing: 0.2em;
  }
}

.love{
  position: absolute;
  align-self: flex-start;
  bottom: 0;
  margin: 0 0 40px 40px;
  cursor: pointer;
  color: #fff;
  opacity: 0;
  animation: love 0.5s 1.5s forwards;
  backface-visibility: hidden;

  &:after{
    content: '';
    z-index: -1;
    position: absolute;
    top:35%;
    left:0;
    width:100%;
    transform-origin: top left;
    transform: scaleX(1);
    height: 30%;
    background-color: #ff0d2d6e;
    transition: all 0.3s;
  }

  span{
    transition: all 0.3s;
  }

  &:hover{
    color: #ffff;
    &:after{
      transform: scaleX(0);
    }
    span{
      color: #ff0d2d;
    }
  }
}

@keyframes love{
  to{
    opacity: 1;
  }
}

.follow-container{
  position: absolute;
  right:0;
  top:50%;
  transform: translate(0,-50%);
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  opacity: 1;

  .if{
    background-color: rgb(0, 95, 184);
  }

  .ig{
    background-color: #222;
  }

  .iy{
    background-color: rgb(219, 0, 0);
  }

  .il{
    background-color: rgb(0, 132, 255);
  }

  .it{
    background-color: #00aeed;
  }

  a{
    transform: translate(50%,0) scale(1);
    opacity:0;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    width:60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    transition: all 0.6s cubic-bezier(.16,.74,.35,1);
    animation: follow-span 0.3s forwards;

    &:nth-child(1){
      animation-delay: 1.7s;
    }

    &:nth-child(2){
      animation-delay: 1.8s;
    }

    &:nth-child(3){
      animation-delay: 1.9s;
    }

    &:nth-child(4){
      animation-delay: 2.0s;
    }

    &:nth-child(5){
      animation-delay: 2.1s;
    }

    i{
      color : #ddd;
      transition : all 0.2s;
    }
  }

  @keyframes follow-span{
    to{
      transform: translate(0,0) scale(1);
      opacity: 1;
    }
  }
}

@media (min-width:767px){
  .follow-container{
    a:hover{
      padding-right: 30%;
      width: 130%;
      transition-duration:0.4s;
    }
  }
}

@media only screen and (max-width: 1024px){
  
  .intro-text{
    span{
      font-size: 80px;
    }
  }

  .love{
    margin: 0 0 25px 25px;
  }
}

@media only screen and (max-width: 767px){
  
  .intro-text{
    span{
      font-size: 11vw;
    }
  }

  .follow-container{
    flex-direction: row;
    top:100%;
    right: 100%;
    transform: translate(100%,-100%);
    box-shadow: none;
    a{
      overflow: hidden;
      transform: translate(0,50%);
      font-size: 22px;
      height: 50px;
      width: 50px;
    }
  }

  .love{
    margin: 0;
    font-size: 14px;
    transform: translate(10%, 150%);
    bottom:100%;
  }
}

@media only screen and (max-width: 479px){
  
  .intro-text{
    span{
      font-size: 11vw;
    }
  }
}