$red : #ff0d2d;
$ease-out : cubic-bezier(0.19, 1, 0.22, 1);

.home{
  // font-family: Futura;
  margin-top:-5vh;
  letter-spacing: 0.2em;
}

.intro{
  min-height: 89vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.intro-text{
  position: relative;
  font-family: Futura;
  overflow: hidden;
  // display: inline-block;
  // background: red;
  // width:50%;
  span{
    font-size: 110px;
    letter-spacing: 0.2em;
    position: relative;
    display: inline-block;
    transform: translate(0%,80%);
    animation: intro-text-span 0.6s $ease-out forwards;
  }

  @keyframes intro-text-span {
    to{
      transform: translate(0%,0%);
    }
  }
  div{
    white-space: nowrap;
    display: absolute;
    top:0;
    left:0;
    display: block;
    font-size: 120px;
    letter-spacing: 0.2em;
  }
}

.love{
  position: absolute;
  align-self: flex-start;
  bottom: 0;
  margin: 0 0 40px 40px;
  cursor: pointer;
  color: #fff;
  opacity: 0;
  animation: love 0.5s 1.5s forwards;

  &:after{
    content: '';
    z-index: -1;
    position: absolute;
    top:35%;
    left:0;
    width:100%;
    transform-origin: top left;
    transform: scaleX(1);
    height: 30%;
    background-color: #ff0d2d6e;
    transition: all 0.3s;
  }

  span{
    transition: all 0.3s;
  }

  &:hover{
    color: #ffff;
    &:after{
      transform: scaleX(0);
    }
    span{
      color: #ff0d2d;
    }
  }
}

@keyframes love{
  to{
    opacity: 1;
  }
}

.follow-container{
  position: absolute;
  right:0;
  top:50%;
  transform: translate(0,-50%);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #000;
  opacity: 0;
  animation: follow 0.5s 1.5s forwards;

  .if{
    background-color: rgb(0, 95, 184);
  }

  .ig{
    background-color: #222;
  }

  .il{
    background-color: rgb(0, 132, 255);
  }

  .it{
    background-color: #00aeed;
  }

  a{
    transform: translate(50%,0);
    opacity:0;
    text-decoration: none;
    animation: follow-span 0.3s forwards;
    position: relative;
    box-sizing: border-box;
    width:70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    &::after{
      content:"";
      position: absolute;
      top:0;
      right:0;
      width: 100%;
      height:100%;
      transform-origin: right center;
      transform: scaleX(0);
      z-index: -1;
      background: rgba(255, 255, 255, 0.2);
      transition: transform 0.3s;
    }

    &:nth-child(1){
      animation-delay: 1.7s;
    }

    &:nth-child(2){
      animation-delay: 1.8s;
    }

    &:nth-child(3){
      animation-delay: 1.9s;
    }

    &:nth-child(4){
      animation-delay: 2.0s;
    }

    i{
      color : #ddd;
      transition : all 0.2s;
    }
    

    &:hover{
      &::after{
        transform: scaleX(1);
      }
    }
  }

  @keyframes follow-span{
    to{
      transform: translate(0,0);
      opacity: 1;
    }
  }
}

@keyframes follow{
  to{
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px){
  
  .intro-text{
    span{
      font-size: 80px;
    }
  }

  .follow-container{
    flex-direction: row;
    position: absolute;
    top:100%;
    transform: translate(0,-100%);
    a{
      transform: translate(0,50%);
      font-size: 22px;
      height: 60px;
      width: 60px;
      &::after{
        transform-origin: bottom center;
        transform : scaleY(0);
      }
      &:hover{
        &::after{
          content: "";
          transform: scaleY(1);
        }
      }
    }
    @keyframes follow-span {
      to{
        transform: translate(0,0);
        opacity: 1;
      }
    }
  }

  .love{
    margin: 0 0 25px 25px;
  }
}

@media only screen and (max-width: 767px){
  
  .intro-text{
    span{
      font-size: 11vw;
    }
  }

  .follow-container{
    right: 100%;
    transform: translate(100%,-100%);
    box-shadow: none;
    a{
      overflow: hidden;
      transform: translate(0,50%);
      font-size: 18px;
      height: 50px;
      width: 50px;
    }
  }

  .love{
    margin: 0;
    font-size: 14px;
    transform: translate(10%, 150%);
    bottom:100%;
  }
}

@media only screen and (max-width: 479px){
  
  .intro-text{
    span{
      font-size: 11vw;
    }
  }
}