$red : #ff0d2d;
$ease-out : cubic-bezier(0.19, 1, 0.22, 1);

.home{
  margin-top:0vh;
  letter-spacing: 0.2em;
}

.intro{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.intro-text{
  position: relative;
  font-family: Futura;
  overflow: hidden;
  span{
    font-size: 110px;
    letter-spacing: 0.2em;
    position: relative;
    display: inline-block;
    transform: translate(0%,100%);
    animation: intro-text-span 0.5s $ease-out forwards;
  }

  @keyframes intro-text-span {
    to{
      transform: translate(0%,0%);
    }
  }
  div{
    white-space: nowrap;
    display: absolute;
    top:0;
    left:0;
    display: block;
    font-size: 120px;
    letter-spacing: 0.2em;
  }
}

.share-buttons{
  display: inline-flex;

  a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 22px;
    border-radius: 50%;
    width:40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    animation: fadeInRight 0.4s forwards;
    transform:  translate(-100%,0);
    opacity: 0;

    i{
      margin-left: 3px;
    }

    &:nth-child(1){
      background-color: rgb(0, 62, 196);
      animation-delay: 0.4s;
    }

    &:nth-child(2){
      background-color: rgb(0, 162, 255);
      animation-delay: 0.3s;
    }

    &:nth-child(3){
      background-color: rgb(0, 182, 45);
      animation-delay: 0.2s;
    }

    &:nth-child(4){
      background-color: rgb(0, 81, 255);
      animation-delay: 0.1s;
    }
  }

  @keyframes fadeInRight{
  to{
    transform: translate(0,0);
    opacity: 1;
  }
}
}


.love{
  border-radius: 10px;
  position: absolute;
  align-self: flex-start;
  bottom: 0;
  margin: 0 0 40px 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  opacity: 0;
  animation: love 0.5s 1.5s forwards;
  backface-visibility: hidden;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);

  span{
    margin-left: 10px; 
    transition: all 0.3s;
  }

  &:hover{
    color: #ffff;
    &:after{
      transform: scaleX(0);
    }
    span{
      color: #ff0d2d;
    }
  }
}

@keyframes love{
  to{
    opacity: 1;
  }
}

.follow-container-wrapper{
  position: absolute;
  right:0;    
  top:50%;
  transform: translate(0,-50%);
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
}

.follow-me{
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0em;
  margin-bottom: 6px;
  opacity: 0;
  animation: love 0.5s 1.5s forwards;
}

.follow-container{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  opacity: 1;

  .if{
    background-color: rgb(0, 75, 146);
  }

  .ig{
    background-color: #222;
  }

  .iy{
    background-color: rgb(219, 0, 0);
  }

  .il{ 
    background-color: rgb(0, 99, 192);
  }

  .it{
    background-color: #008ce9;
  }

  a{
    transform: translate(50%,0) scale(1);
    opacity:0;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    width:60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
    animation: follow-span 0.3s forwards;

    &:nth-child(1){
      animation-delay: 2s;
    }

    &:nth-child(2){
      animation-delay: 2.05s;
    }

    &:nth-child(3){
      animation-delay: 2.1s;
    }

    &:nth-child(4){
      animation-delay: 2.15s;
    }

    &:nth-child(5){
      animation-delay: 2.2s;
    }

    i{
      color : #ddd;
      transition : all 0.2s;
    }
  }

  @keyframes follow-span{
    to{
      transform: translate(0,0) scale(1);
      opacity: 1;
    }
  }
}

@media (min-width:767px){
  .follow-container{
    a:hover{
      padding-right: 30%;
      width: 130%;
      transition-duration:0.6s;
    }
  }
}

@media only screen and (max-width: 1024px){
  
  .intro-text{
    span{
      font-size: 80px;
    }
  }

  // .love{
  //   margin: 0 0 25px 25px;
  // }
}

@media only screen and (max-width: 767px){
  
  .intro-text{
    span{
      font-size: 11vw;
    }
  }

  .follow-container-wrapper{
    top:100%;
    right: 100%;
    transform: translate(100%,-100%);
  }

  .follow-me{
    letter-spacing: 0.1em;
    margin-left: 5px;
  }

  .follow-container{
    flex-direction: row;
    overflow: hidden;
    box-shadow: none;
    a{
      margin:0 0 12px 5px;
      overflow: hidden;
      transform: translate(0,50%);
      font-size: 22px;
      height: 50px;
      width: 50px;
    }
  }

  .love{
    margin: 0;
    font-size: 14px;
    transform: translate(5%, 120%);
    bottom:100%;
    height: 30px;
    padding: 10px 10px;
    transition: all 1s;
  }

  .share-buttons {
    a {
      margin: 0 7px;
      width: 35px;
      height: 35px;
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 479px){
  .follow-container{
    a{
      font-size: 20px;
      height: 45px;
      width: 45px;
    }
  }
  
  .intro-text{
    span{
      font-size: 11vw;
    }
  }
}