$red : #ff0d2d;
$eio : cubic-bezier(0.77, 0, 0.175, 1);
$e-bounce : cubic-bezier(0.175, 0.885, 0.32, 1.275);
// cubic-bezier(.2,.86,.35,1)
$ham-d : 0.6s;

.nav-m{
  display: none;
  position: fixed;
  bottom:0;
  right:0;
  margin: 10px;
  border-radius: 50%;
  z-index: 4;
  background-color: #000;
  box-sizing: border-box;
}

.nav-logo-m{
  display: none;
}


#hamburger{
  // background: rgba(17, 17, 17, 0.795);
  // background: #444;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s;
}

.bar{
  position: absolute;
  display: block;
  height: 0px;
  border: 0.5px solid #fff;
  background-color: #ddd;
  transition: all 0.3s;
  width:100%;
}

.bar2{
  transform: scaleX(0.85);
  opacity: 1;
}

.bar1{
  transform: translateY(-15px) scaleX(0.5) rotate(0);
}

.bar3{
  transform: translateY(15px) scaleX(0.5) rotate(0);
}

.close{
  .bar{
    height: 0px;
    border: 1.5px solid $red;
    background-color: $red;
  }
  .bar1{
    animation:  close-bar1 $ham-d $e-bounce forwards;
  }
  @keyframes close-bar1 {
    50%{
      transform: translateY(0) scale(0.5) rotate(0);
    }
    100%{
      transform: translateY(0) scale(0.6) rotate(135deg);
    }
  }
  
  .bar2{
    animation: close-bar2 $ham-d $e-bounce forwards;
  }
  @keyframes close-bar2 {
    50%{
      transform: scaleX(0.7);
      opacity: 0;
    }
    100%{
      transform: scaleX(0.7);
      opacity: 0;
    }
  }
  .bar3{
    animation: close-bar3 $ham-d $e-bounce forwards;
  }
  @keyframes close-bar3 {
    50%{
      transform: translateY(0) scale(0.5) rotate(0);
    }
    100%{
      transform: translateY(0) scale(0.6) rotate(45deg);
    }
  }
}

.ham{
  .bar1{
    transform: translateY(0) scale(0.6) rotate(135deg);
    animation: ham1 $ham-d $e-bounce forwards,;
  }
  @keyframes ham1 {
    50%{
      transform: translateY(0) scale(0.5) rotate(0);
    }
    100%{
      transform: translateY(-15px) scaleX(0.5) rotate(0);
    }
  }
  .bar2{
    transform: scaleX(0.7);
    opacity: 0;
    animation: ham2 $ham-d $e-bounce forwards;
  }
  @keyframes ham2 {
    50%{
      opacity: 1;
      transform: scaleX(0.5);
    }
    100%{
      opacity: 1;
      transform: scaleX(0.85);
    }
  }
  .bar3{
    transform: translateY(0) scale(0.6) rotate(45deg);
    animation: ham3 $ham-d $e-bounce forwards;
  }
  @keyframes ham3 {
    50%{
      transform: translateY(0) scale(0.5) rotate(0);
    }
    100%{
      transform: translateY(15px) scaleX(0.5) rotate(0);
    }
  }
}

@media only screen and (max-width: 767px) {

  #hamburger{
    // transform-origin: right center; 
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 479px) {
  
}

// ---------------------------------------------------------------

#menu-wrapper{
  position: fixed;
  // display: none;
  z-index: 1;
  top:0;
  left:0;
  min-width: 100%;
  z-index: 2;
  height: 100%;
  max-height: 100%;
  transform-origin: top center;
  overflow: hidden;
}

.open-menu{
  transform: scaleY(1);
  transition:  transform 0.3s;
}

.close-menu{
  transform: scaleY(0);
  transition:  transform 0.3s 0.3s;
}

.menu{
  width:100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bg-transparent{
  background-color: transparent;
}

.menu-item-wrapper{
  text-decoration: none;
  color:#777; 
  height: 100% !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #0a0a0a;
  // transition: all .3s $eio .2s;
  
  &.selected-menu-item{
    animation: makeMeTransparent 0.1s 0.3s forwards;
  }

  @keyframes makeMeTransparent {
    to{
      background-color: rgba(255,255,255,0);
    }
  }
}

.shrink-item{
  height: 0% !important;
  transition: all .3s $eio .3s;

  // animation: shrink 1.5s $eio; 
}

@keyframes shrink{
  25%{
    height: 0%;
  }
  100%{
    height: 0%;
  }
}

.selected-m-nav-item{
  color: #ccc;
}


.menu-item-wrapper:nth-child(even){
  // background-color: #0f0f0f;
  &.selected-menu-item{
    animation: makeMeTransparent 0.1s 0.3s forwards;
  }

  @keyframes makeMeTransparent {
    to{
      background-color: transparent;
    }
  }
}

.menu-item{
  position: relative;
  width:100%;
  max-height:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 3;
  transition: all 0.3;
  // background: blue;

  &:hover{
    .menu-item-bg{
      transform: scaleX(1);
    }
  }
}

.menu-item-bg{
  width:100%;
  height: 100%;
  transform: scaleX(0);
  transition: all $eio .3s;
}

.menu-item-bg:nth-child(1){
  transform-origin: left center;
  // background-color: rgb(255, 13, 45);
  background: #2a2a2a;
}

.menu-item-bg:nth-child(2){
  transform-origin: right center;
  // background-color: rgb(236, 0, 32);
  background: #1c1c1c;
}

.menu-item-name{
  position: absolute;
  top:50%;
  left:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform:translate(-50%,-50%);
  // border: 1px solid white;
  overflow: hidden;
  span{
    font-size: 5vh;
    font-family: Futura;
    display: inline-block;
    transition: all .3s ;
  }
}

.fadeIn-menu-item{
  span{
    transform:translate(0,-150%);
    // opacity: 0;
    animation: fadeInItem .3s .3s forwards;
  }
}

@keyframes fadeInItem{
  to{
    transform:translate(0,0);
    // opacity: 1;
  }
}

.fadeOut-menu-item{
  span{
    transform:translate(0,0);
    // opacity: 1;
    animation: fadeOutItem .3s $eio forwards;
  }
}

@keyframes fadeOutItem{
  to{
    transform:translate(0,-150%);
    // opacity: 0;
  }
}

.selected-menu-item{
  .menu-item-bg{
    transform: scaleX(1);
    animation: pageTransition .3s $eio 1.2s forwards;
  }
  span{
    animation: fadeOutItem .3s $eio .9s forwards;
  }
}

@keyframes pageTransition{
  to{
    transform: scaleX(0);
  }
}

@media only screen and (max-width: 767px) {
  /* For desktop: */
  .nav-m{
    display:inline-block;
  }
  #menu-wrapper{
    display:block;
  }
}

@media only screen and (max-width: 479px){
  .menu-item-name span{
    font-size:8vw;
  }
}
