$red : rgb(255, 13, 45);
$eio : cubic-bezier(0.77, 0, 0.175, 1);
$eo : cubic-bezier(0.165, 0.84, 0.44, 1);
$nav-bg : #222;

.nav-bar{
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // position: -webkit-sticky; /* Safari */
  // position: sticky;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  margin-bottom:5vh;
}

.nav-left{
  // background: red;
  display: flex;
  width: 120px;
  height: 60px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.nav-right{
  position: relative;
  // background: #171717;
  // box-shadow: 0 0 10px #000;
  // font-family: Futura;
  align-self: flex-end;
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right-inner{
  transform-origin: top right;
  overflow: hidden;
  background: $nav-bg;
  height: 60px;
  transform: scaleX(0);
  // box-shadow: 0 0 10px #000;

  &.nav-right-inner-open{
    transform: scaleX(0);
    animation: nav-right-inner-open 0.3s forwards;
  }

  @keyframes nav-right-inner-open {
    to{
      transform: scaleX(1);
    }
  }

  &.nav-right-inner-close{
    transform: scaleX(1) !important;
    animation: nav-right-inner-close 0.3s 0.3s forwards;
  }

  @keyframes nav-right-inner-close {
    to{
      transform: scaleX(0);
    }
  }
}

.nav-logo{
  display: inline-block;
  // background: blue; 
}

.nav-item-close{
  opacity: 1;
  animation:ItemDisappear 0.2s forwards;
}

@keyframes ItemDisappear{
  to{
    opacity: 0;
  }
}

.nav-item-open{

  span{
    opacity: 0;
    transform: translate(15px);
  }
  .nav-item-span-6{
    animation: nav-item-open 0.25s 0.3s forwards;
  }
  .nav-item-span-5{
    animation: nav-item-open 0.25s 0.35s forwards;
  }
  .nav-item-span-4{
    animation: nav-item-open 0.25s 0.4s forwards;
  }
  .nav-item-span-3{
    animation: nav-item-open 0.25s 0.45s forwards;
  }
  .nav-item-span-2{
    animation: nav-item-open 0.25s 0.50s forwards;
  }
  .nav-item-span-1{
    animation: nav-item-open 0.25s 0.55s forwards;
  }
  
}

@keyframes nav-item-open{
  to{
    opacity: 1;
    transform: translate(0px);
  }
}

.nav-item{
  z-index: 1;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  color:#ddd;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 20px;
  // padding: 20px;
  width:105px;
  height: 60px;
  
  // width:0vw;

  &::before{
    content:'';
    position: absolute;
    bottom:0;
    left:0;
    right: 0;
    width:98%;
    height: 100%;
    transform-origin: bottom left;
    transform: scaleY(0);
    background-color:#1a1a1a;
    box-sizing: border-box;
    z-index: -1;
    transition: transform 0.3s;
  }
  
  &:hover{
    &::before{
      transform: scaleY(1);
    }
  }
}

.nav-item-open.selected{
  // color: $red;
  &::before{
    width: 98%;
    height: 100%;
    transform-origin: bottom left;
    transform: scaleY(1);
    border-bottom: 5px solid #777;
    box-sizing: border-box;
    transition: transform 0.3s 0.45s;
  }
}

.selected{
  color: #fff;
  &::before{
    height: 0%;
    border-bottom: 5px solid #777;
    box-sizing: border-box;
    // transition: all 0s !important;
  }
}

.ham-hide-wrapper{
  background: $nav-bg;
  display: inline-flex;
  width: 60px;
  height:60px;
  padding: 0px 20px;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .ham-1{
    // background: green;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .line{
      width : 100%;
      height:1px;
      background: #fff;
      transition: all 0.3s;
    }

    .line1{
      transform: scaleX(0.5) translateY(-13px) rotate(0);
    }

    .line2{
      transform : scaleX(0.8);
      opacity: 1;
    }

    .line3{
      transform: scaleX(0.5) translateY(13px) rotate(0);
    }
  }

  .start-1{
    .line1{
      transform: translate(0px) rotate(135deg);
      animation: line1-ham 0.6s forwards;
    }

    @keyframes line1-ham {
      50%{
        transform: scaleX(0.5) translate(0px) rotate(0deg);
      }
      100%{
        transform: scaleX(0.5) translateY(-13px) rotate(0);
      }
    }

    .line2{
      transform: scaleX(0.5);
      opacity: 0;
      animation: line2-ham 0.6s forwards;
    }

    @keyframes line2-ham {
      50%{
        opacity: 1;
        transform: scaleX(0.5);
      }
      100%{
        opacity: 1;
        transform: scaleX(0.8);
      }
    }

    .line3{
      transform: scaleX(0.5) translate(0px) rotate(45deg);
      animation: line3-ham 0.6s forwards;
    }

    @keyframes line3-ham {
      50%{
        transform: scaleX(0.5) translate(0px) rotate(0);
      }
      100%{
        transform: scaleX(0.5) translateY(13px) rotate(0);
      }
    }
  }

  .close-1{
    .line{
      background-color: $red;
      height: 2px;
    }

    .line1{
      animation: line1 0.6s forwards;
    }

    @keyframes line1 {
      50%{
        transform: scale(0.6) translateY(3px) rotate(0deg);
      }
      100%{
        transform: scale(0.6) translateY(3px) rotate(135deg);
      }
    }

    .line2{
      animation: line2 0.6s forwards;
    }

    @keyframes line2 {
      to{
        transform: scaleY(0);
        opacity: 0;
      }
    }

    .line3{
      animation: line3 0.6s forwards;
    }

    @keyframes line3 {
      50%{
        transform: scale(0.6) translateY(-3px) rotate(0deg);
      }
      100%{
        transform: scale(0.6) translateY(-3px) rotate(45deg);
      }
    }

  }
}

@media only screen and (max-width: 767px) {
  /* For desktop: */
  .nav-bar{
    display:none;
  }
}

.black-screen{
  position: fixed;
  z-index: 3;
  top:0;
  height: 100%;
  width:100%;
  background-color: black;
  
  &.in{
    transform-origin: top right;
    animation: black-screen-in 0.7s $eio;
  }

  @keyframes black-screen-in{
    from{
      transform: scaleX(0);
    }
    to{
      transform: scaleX(1);
    }
  }

  &.out{
    transform-origin: top left;
    animation: black-screen-out 0.7s $eio forwards;
  }

  @keyframes black-screen-out{
    from{
      transform: scaleX(1);
    }
    to{
      transform: scaleX(0);
    }
  }
}