$red : #ff0d2d;
$eio : cubic-bezier(0.77, 0, 0.175, 1);
$font-normal : 24px;


.section{
  max-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top:10vh;
}

.inner-section{
  padding: 10vh 0;
  width:75%;
  // position: relative;
  // overflow: hidden;
}

.sub-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-container{
  width: 50%;
  display: flex;
  align-items: center;
  order: 2;
}

.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  order:1;
  // min-width:30vw;
  // height: 100%;

  .image-border{
    width: 28vw;
    height: 28vw;
    // box-sizing: border-box;
    border:10px solid #777;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateCW 10s linear infinite;

    .image{
      width:90%;
      height:90%;
      background: #222;
      border-radius: 50%;
      animation: rotateCW 10s linear infinite reverse;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px #000;

      .about-img{
        width:100%;
        height: 100%;
      }

      img{
        width:70%;
        height: 70%;
      }
    }
  }

  @keyframes rotateCW {
    from{
      transform: rotate(0deg);
    }
    to{
      transform :rotate(360deg);
    }
  }
}


.sec-contact{
  // border: 1px solid #333;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.sec2-contact{
  padding: 1.3vw;  //20px
  // margin-top: 10vh;
  &.ct{
      align-items: center;
  }
  .inner-section{
    width: 75%;
    // margin-top:7vh;
    // background: #151515;
  }
}

.block{
  min-height: 20vh;
  width: 100%;
  font-size: $font-normal;
  height: 100%;
  display:flex;
  flex-direction: column;

  .block-ul{
    list-style: square;
  }

  .block-item{
    margin: 2vh 0;
    padding: 2vh;
    background: #222;
    box-shadow: 0 0 5px #000;
    
    .item-heading{
      font-family: Futura;
      font-size: 32px;
      margin-bottom: 2vh;
      
      span{
        color: #666;
      }

      a{
        // text-decoration: none;
        color: #aaa;
      }

      i{
        transform: scale(0.7);
        transition: all 0.3s;
        margin: 0 20px;

        &:hover{
          color: $red;
        }
      }
    }

    .item-content{
      span{
        // border:1px solid $red;
        color: #fff;
        padding: 2px 8px;
        // box-shadow: 0 0 10px #000;
        background-color: #333;
      }
    }
  }
}

.hglt{
  display: inline-block;
  background: #333;
  color: #ccc;
  // border-bottom: 2px solid $red;
}

.hglt-red{
  display: inline-block;
  background-color: $red !important;
  color: #ddd;
  padding: 3px 6px;
  box-shadow: 0 0 10px #000;
  border-bottom: 5px solid #ff5e73;
}

.skills-block{
  // background: green;
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
  .set{
    width: 45%;
    height: 100%;
    // margin: 2vh 0;

    .skill-wrapper{
      margin: 4vh 0;
      display: flex;
      align-items: center;
      font-size: $font-normal;
      justify-content: space-between;

      .skill{
        // font-weight: 900;
      }

      .proficiency{
        width: 60%;
        height: 12px;
        position: relative;
        background-color: #333;
        transform-origin: right center;
        transform: scaleX(0);
        // border-radius: 30px;
        overflow: hidden;
        // border: 2px solid rgba(0, 0, 0, 0.486);
        box-shadow: 0 0 5px #000;
        .barValue{
          position: absolute;
          height: 100%;
          background-color: $red; 
          transition: all 1s;
          transform-origin: top left;
          transform: scaleX(0);
        }
      }
    }
  }
}

.animateSkillBarWrapper{
  animation: skillBarWrapper 0.3s 0.1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes skillBarWrapper{
  to{
    transform: scaleX(1);
  }
}

.animateSkillBar{
  animation: skillBar 0.3s 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes skillBar {
  to{
    transform: scaleX(1);
  }
}


.text{
  font-size: $font-normal;
  text-align: justify;
}

.expand{
  display: inline-block;
  background-color: #222;
  border-bottom: 2px solid $red;
  color: #ccc;
  cursor: pointer;
  span{
    // background: rgba(255, 255, 255, 0.164);
    letter-spacing: -0.9em;
    opacity: 0;
    transition: all 0.3s;
  }
  &:hover{
    span{
      opacity: 1;
      letter-spacing: 0em;
    }
  }
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  height: 99.5%;
  width: 100%;
  z-index: -1;
  background-image: radial-gradient(#333, #000);
}

.inner-sub-section{
  height: 100%;
  width : 50%;

  margin-top: -3.5vh;

  &:nth-child(2){
    margin-left: 5vh;
    min-height:70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 1224px) {
  .block,.skill-wrapper,.text{
    font-size: 20px;
    .block-item{
      .item-heading{
        font-size: 28px;
      }
    }
  }

  .inner-sub-section{
    margin-top:0vh;

    &:nth-child(2){
      height: 50vh;
    }
  }

  .image-container{
    .image-border{
      border-width: 7px;
    }
  }


  .skills-block{
    .set{
      .skill-wrapper{
        .proficiency{
          height: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px){

  .skills-block{
    flex-direction: column;
    justify-content: center;
    .set{
      width:100%;
      margin:0;
      .skill-wrapper{
        margin-bottom: 0vh;
        .proficiency{
          height: 8px;
        }
      }
    }
  }
  
  .inner-section{
    padding: 5vh 0;
  }

  .sub-section{
    flex-direction: column;
  }

  .inner-sub-section{
    width: 100%;
    &:nth-child(2){
      min-height: 0;
      margin-left: 0vh;
    }
  }


  .text-container{
    width: 100%;
    order:1;
  }
  .image-container{
    display: none;
    margin-top: 5vh;
    width: 100%;
    order: 2;

    .image-border{
      width: 40vw;
      height: 40vw;
    }
  }
}

@media only screen and (max-width: 767px){
  .section{
    margin-top:3vh;
  }
}

@media only screen and (max-width: 479px){

  .image-container{
    display: flex;
    height: 40vh;
    .image-border{
      width:30vh;
      height: 30vh;
    }
  }
  .hglt-red{
    border-width: 2px;
    box-shadow: 0 0 5px #000;
  }
  .text{
    font-size: 16px;
  }
  .inner-section{
    width:90%;
    padding: 3vh 0;
  }
  .skills-block{
    flex-direction: column;
    justify-content: center;
    .set{
      width:100%;
      margin:0;
      .skill-wrapper{
        margin: 10px 0 0 0;
        font-size: 16px;
        .proficiency{
          height: 6px;
        }
      }
    }
  }
  .block,.skill-wrapper{
    font-size: 16px;
    .block-item{
      .item-heading{
        font-size: 6vw;
        span,i{
          font-size: 5vw;
        }
        i{
          margin: 0 0 0 2vw;
        }
      }
    }
  }
}