$red : #ff0d2d;
$eio : cubic-bezier(0.77, 0, 0.175, 1);
$font-normal : 24px;

.projects-container{
  position: relative;
  margin: 5vh auto 0 auto;
  // width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // background: green;

  .project-wrapper{
    // border: 1px solid #222;
    font-size: 16px;
    position: relative;
    display: inline-block;
    margin: 15px;
    background-color: #222;
    color: #ddd;
    width:500px;
    // height: 350px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px #000;
    animation: fadeUp 0.6s forwards;

    .project-title{
      width: 100%;
      height: 30px;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(#ebebeb, #c5c5c5);

      .dots{
        left:0;
        position: absolute;
        width: 15%;
        display: flex;
        justify-content: space-evenly;
        // align-items: center;

        div{
          width : 15px;
          height: 15px;
          border-radius: 50%;
        }

        div:nth-child(1){
          background-color: tomato;
          border: 1px solid rgb(255, 49, 12); 
        }

        div:nth-child(2){
          background-color: rgb(255, 170, 0);
          border: 1px solid rgb(255, 115, 0); 
        }

        div:nth-child(3){
          background-color: rgb(17, 226, 17); 
          border: 1px solid rgb(0, 182, 0);
        }
      }

      .name{
        color: #555;
        font-weight: 900;
      }
    }

    .project{
      position: relative;
      cursor: pointer;

      img{
        width:500px;
        height: 250px;
        border-bottom: 2px solid #777;
      }

      .project-info{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .bg-up,.bg-down{
          height: 50%;
          width: 100%;
          transform: scaleX(0);
          background-color: rgba(17, 17, 17, 0.97);
          transition: all $eio 0.3s .7s;
        }

        .bg-up{
          transform-origin: top left;
        }

        .bg-down{
          transform-origin: top right;
        }

        .project-details{
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          // justify-content: space-evenly;
          align-items: center;

          .pd-tab{
            display: inline-block;
            padding: 7px 15px;
            box-sizing: border-box;
            margin: 5px;
            box-shadow: 0 0 10px #000;
            border-bottom: 3px solid
          }

          .pd1{
              opacity: 0;
              display:flex;
              justify-content: center;
              align-items: center;
              height: 33%;
              transform: translateY(-5px);
              cursor: default;
              transition: all 0.3s 0.3s;
              
              div{
                text-transform: uppercase;                
                border-bottom-color: #666;
                background: #333;
              }
              // font-size: 18px;
          }

          .pd2 {
              opacity: 0;
              display:flex;
              justify-content: center;
              align-items: center;
              width:70%;
              height: 34%;
              transform: translateY(-5px);
              cursor: default;
              transition: all 0.3s 0.15s;

              div{
                display: flex;
                width: 100%;
                justify-content: center;
                flex-wrap: wrap;

              span{
                font-size: 14px;
                // color: #999;
                border-bottom-color: #444;
                background: #222;
              }
            }
          }

          .pd3{
            opacity: 0;
            width: 30%;
            display: flex;
            height: 33%;
            justify-content: space-around;
            align-items: center;
            transform: translateY(-5px);
            transition: all 0.3s 0s;
            
            i {
              display: inline-block;
              position: relative;
              padding: 12px 14px;
              box-sizing: border-box;
              font-size: 24px;
              color: #ddd;
              border-radius: 50%;
              border-bottom: 3px solid #555;
              background: #222;
              box-shadow: 0 0 10px #000;
              transition: all 0.3s;
              overflow: hidden;
            }

            i::after{
              content: 'i';
              color: transparent;
              position: absolute;
              display: block;
              width: 100%;
              height:100%;
              transform-origin: bottom center;
              transform:scaleY(0);
              bottom:0;
              left:0;
              background: rgba(221, 221, 221, 0.151);
              transition: all $eio 0.3s;
            }
            
            i:hover{
              &::after{
                transform:scaleY(1);
              }
            }
          }
        }
      }
    }

    .project-desc{
      display: flex;
      // height: 70px;
      width: 100%;
      justify-content: center;
      align-items: center;
      color: #999;
      p{
        width: 90%;
      }
    }
    
    .label{
      display: inline-block;
      position: absolute;
      background-color: $red;
      top:0;
      left:0;
      font-size: 20px;
      padding: 0px 35px;
      transform: translate(-30px,15px) rotate(-45deg);
    }

    &:hover{
      .project-info{
        .bg-up,.bg-down{
          transform: scaleX(1);
          transition: transform 0.2s $eio;
        }
        .project-details{
          .pd1{
            opacity: 1;
            transform: translateY(0);
            transition: all 0.3s 0.5s;
          }
          .pd2{
            transform: translateY(0);
            opacity: 1;
            transition: all 0.3s 0.65s;
          }
          .pd3{
            transform: translateY(0);
            opacity: 1;
            transition: all 0.3s 0.8s;
          }
        }
      }
    }
  }
  @keyframes fadeUp{
    from{
      opacity: 0;
      transform: translateY(10px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }
}



.keywords{
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  // position: sticky;
  // background: #111;
  // top:0;
  // justify-content: space-evenly;

  .kw-selected{
    .kw:after{
      height: 100% !important;
    }
  }

  .kw{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(34, 34, 34, 0.5);
    box-shadow: 0 0 10px #000;
    margin: 9px;
    color: #ddd;
    cursor: pointer;
    
    &:after{
      content:"";
      position: absolute;
      bottom:0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: bottom center;
      transform: scaleY(0.1);
      background-color: #373737;
      z-index: -1;
      transition: all 0.3s;
    }

    &:hover{
      &:after{
        transform: scaleY(1);
      }
    }
  }
}

.kw-selected{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(34, 34, 34, 0.356);
  box-shadow: 0 0 10px #000;
  margin: 9px;
  color: #ddd;
  cursor: pointer;
  
  &:after{
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom center;
    transform: scaleY(1);
    background-color: #373737;
    z-index: -1;
    transition: all 0.3s;
  }

  &:hover{
    &:after{
      background-color:#444;
    }
  }
}

.show-filters{
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  color: #777;

  span{
    color: #ddd;
    // font-weight: 900;
  }
}

.filter{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #222;
  margin:0 5px;
  font-size: 20px;
  padding: 5px 10px;
  box-shadow: 0 0 10px #000;
  box-sizing: border-box;
  animation: onFilterCreate 0.2s forwards;

  div{
    opacity: 0;
    transform: translateY(3px);
    position: relative;
    margin: 0 5px;
    animation: fadeInFilter .2s .2s forwards;
  }

  #cross{
    color: #555;

    &:hover{
      color: #888;
    }
  }
}

.onFilterDelete {
  animation: onFilterDelete .2s .2s forwards;
}

.fadeOutFilter{
  animation: fadeOutFilter .2s forwards;
}

@keyframes onFilterDelete{
  to{
    transform: scale(0);
  }
}

@keyframes fadeOutFilter{
  to{
    transform: translateY(3px);
    opacity: 0;
  }
}

@keyframes onFilterCreate{
  from{
    transform: scale(0);
  }
}

@keyframes fadeInFilter{
  to{
    opacity: 1;
    transform: translateY(0)
  }
}

.disabled{
  pointer-events: none;
  cursor: default;
}

@media only screen and (max-width : 1224px){
  .keywords, .show-filters{
    font-size: 18px;
  }
}

@media only screen and (max-width : 479px){
  .keywords, .show-filters{
    font-size: 13px;
    .kw, .kw-selected{
      margin: 5px;
      padding: 7px 15px;
      box-shadow: 0 0 5px #000;
    }
  }

  .projects-container{
    .project-wrapper{
      font-size: 13px;
      width: 80vw;
      .project-title{
        height: 25px;
        .dots{
          width:60px;
          div{
            width: 12px;
            height: 12px;
          }
        }
      }
      .project-desc{
        font-size: 11px
      }
      .project{
        img{
          width:80vw;
          height:40vw;
        }
        .project-info{
          .project-details{
            .pd-tab{
              padding: 5px 10px;
              border-bottom: 2px solid;
              box-shadow: 0 0 5px #000;
            }
            .pd1{
              display: none;
              font-size: 12px;
            }
            .pd2 {
              width: 85%;
              height: 64%;
              div{
                span{
                  font-size: 11px;
                  margin: 4px ;
                }
              }
            }
            .pd3{
              i{
                font-size: 14px;
                padding: 8px 10px;
                border-bottom: 2px solid #555;
                box-shadow: 0 0 5px #000;
              }
            }
          }
        }
      }
    }
  }
}