$red : #ff0d2d;
$eio : cubic-bezier(0.77, 0, 0.175, 1);
$font-normal : 24px;

.projects-container{
  position: relative;
  margin: 5vh auto;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // background: green;

  .project-wrapper{
    // border: 1px solid #222;
    font-size: 16px;
    position: relative;
    display: inline-block;
    margin: 20px;
    background-color: #222;
    color: #ddd;
    width:500px;
    // height: 350px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px #000;

    .project-title{
      width: 100%;
      height: 30px;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(#ebebeb, #c5c5c5);

      .dots{
        left:0;
        position: absolute;
        width: 15%;
        display: flex;
        justify-content: space-evenly;
        // align-items: center;

        div{
          width : 15px;
          height: 15px;
          border-radius: 50%;
        }

        div:nth-child(1){
          background-color: tomato;
          border: 1px solid rgb(255, 49, 12); 
        }

        div:nth-child(2){
          background-color: rgb(255, 217, 0);
          border: 1px solid rgb(255, 136, 0); 
        }

        div:nth-child(3){
          background-color: rgb(17, 226, 17); 
          border: 1px solid rgb(0, 182, 0);
        }
      }

      .name{
        color: #555;
        font-weight: 900;
      }
    }

    .project{
      position: relative;
      cursor: pointer;

      img{
        width:500px;
        height: 250px;
        border-bottom: 2px solid #777;
      }

      .project-info{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .bg-up,.bg-down{
          height: 50%;
          width: 0%;
          background-color: rgba(17, 17, 17, 0.97);
          transition: all $eio 0.3s .7s;
        }

        .bg-down{
          align-self: flex-end;
        }

        .project-details{
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          // justify-content: space-evenly;
          align-items: center;

          .pd1{
              opacity: 0;
              display:flex;
              justify-content: center;
              align-items: center;
              height: 33%;
              transform: translateY(-5px);
              cursor: default;
              transition: all 0.3s 0.3s;
              
              div{
                text-transform: uppercase;
                display: inline-block;
                padding: 7px 15px;
                box-sizing: border-box;
                margin: 5px;
                border-bottom: 3px solid #666;
                background: #333;
                box-shadow: 0 0 10px #000;
              }
              // font-size: 18px;
          }

          .pd2 {
              opacity: 0;
              display:flex;
              justify-content: center;
              align-items: center;
              width:70%;
              height: 34%;
              transform: translateY(-5px);
              cursor: default;
              transition: all 0.3s 0.15s;

              div{
                display: flex;
                width: 100%;
                justify-content: center;
                flex-wrap: wrap;

              span{
                display: inline-block;
                padding: 7px 15px;
                box-sizing: border-box;
                font-size: 14px;
                margin: 5px;
                // color: #999;
                border-bottom: 3px solid #444;
                background: #222;
                box-shadow: 0 0 10px #000;
              }
            }
          }

          .pd3{
            opacity: 0;
            width: 30%;
            display: flex;
            height: 33%;
            justify-content: space-evenly;
            align-items: center;
            transform: translateY(-5px);
            transition: all 0.3s 0s;
            
            i {
              display: inline-block;
              position: relative;
              padding: 12px 14px;
              box-sizing: border-box;
              font-size: 24px;
              color: #ddd;
              border-radius: 50%;
              border-bottom: 3px solid #555;
              background: #222;
              box-shadow: 0 0 10px #000;
              transition: all 0.3s;
              overflow: hidden;
            }

            i::after{
              content: 'i';
              color: transparent;
              position: absolute;
              display: block;
              width: 100%;
              height:0%;
              bottom:0;
              left:0;
              background: rgba(221, 221, 221, 0.151);
              transition: all $eio 0.3s;
            }
            
            i:hover{
              &::after{
                height: 100%;
              }
            }
          }
        }
      }
    }

    .project-desc{
      display: flex;
      // height: 70px;
      width: 100%;
      justify-content: center;
      align-items: center;
      color: #999;
      p{
        width: 90%;
      }
    }
    
    .label{
      display: inline-block;
      position: absolute;
      background-color: $red;
      top:0;
      left:0;
      font-size: 20px;
      padding: 0px 35px;
      transform: translate(-30px,15px) rotate(-45deg);
    }

    &:hover{
      .project-info{
        .bg-up,.bg-down{
          width: 100%;
          transition: all 0.3s $eio;
        }
        .project-details{
          .pd1{
            opacity: 1;
            transform: translateY(0);
            transition: all 0.3s 0.5s;
          }
          .pd2{
            transform: translateY(0);
            opacity: 1;
            transition: all 0.3s 0.65s;
          }
          .pd3{
            transform: translateY(0);
            opacity: 1;
            transition: all 0.3s 0.8s;
          }
        }
      }
    }
  }
}

.disabled{
  pointer-events: none;
  cursor: default;
}