body{
  background: #171717;
  color: #ccc;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
  user-select: none;
}

html,body {
  width: 100%;
  height: 100%;
  max-height:100%;
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

html{
  // overflow: auto
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

