body{
  background: #111;
  color: #ccc;
  font-family: 'Quicksand', sans-serif;
}

html,body {
  width: 100%;
  // height: 100%;
  max-height:100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

