html{
  height: 100%;
}

body{
  margin: 0;
  background: #111;
  color: #aaa;
  height: 100%;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

// #root, .router-wrapper{
//   width: 100%;
//   height: 100%;
// }

